* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 1em;
}

th, td, h5 {
    text-align: center;
}
td {
    max-width: 5rem;
    white-space: nowrap;
    overflow: auto;
}
.summary,
.buttons {
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
}

.summary {
    padding: 80px 10px;
    min-height: 99dvh;
    max-width: 100%;
    flex-direction: column;
    gap: 20px 0px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eee;
}

.buttons {
    justify-content: space-around;
}

@media (min-width: 1000px) {
    .navbar {
        position: fixed;
        width: 100%;
    }
}