{% extends "base.html" %}

{% load static %}

{% block title  %}Home{% endblock %}

{% block links %}
    <style type="text/css">
        .sides {
            display: grid;
            place-items: center;
            gap: 7vw;
        }
        @media (max-width: 4000px) {
            .sides {
                grid-template-columns: repeat(2, 1fr);
            }
        }      
        
        @media (max-width: 700px) {
            .sides {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    </style>
{% endblock %}

{% block container %}
    <h2>Dashboard</h2>
    <h3>Budget Summary</h3>
    <table class=" container table">
        <thead>
            <tr>
                <th>Total Budgets Quantity</th>
                <th>Total Budgets Amount</th>
                <th>Total Spents</th>
                <th>Total Remaining</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ budgets.total_budgets }}</td>
                <td>{{ budgets.total_amount }}</td>
                <td>{{ budgets.total_spent }}</td>
                <td>{{ budgets.total_remaining }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Goals Summary</h3>
    <table class="container table">
        <thead>
            <tr>
                <th>Total Goals Quantity</th>
                <th>Total Goals Amount</th>
                <th>Total Pending</th>
                <th>Total Remaining</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ goals.total_goals }}</td>
                <td>{{ goals.total_amount }}</td>
                <td>{{ goals.pending_amount }}</td>
                <td>{{ goals.total_remaining }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}