{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Financial Manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
{% endblock %}

{% block links %}
<style type=text/css>
    h3 {
        padding: 3vw 0px;
    }

    .buttons {
        padding: 30px 0px;
    }
</style>
{% endblock %}

{% block container %}
    <form method="post">
        <h3 align=center>Login</h3>
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text">Username:</span>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Password:</span>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <div class="buttons">
            <button type="submit" class="btn btn-success">Enter</button>
            <a href="{% url 'sign-up' %}" class="btn btn-secondary">Register</a>
        </div>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}