{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block nav %}{% endblock %}

{% block links %}
    <style type=text/css>
        div {
            padding: 8px 0px;
        }
    </style>
{% endblock %}

{% block container %}
    <h3 align=center>Login</h3>
    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text">Username:</span>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Password:</span>
            <input type="text" class="form-control" id="password" name="password" 
            placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <div class="buttons">
            <button type="submit" class="btn btn-success">Enter</button>
            <a href="{% url 'sign-up' %}" class="btn btn-secondary">Register</a>
        </div>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}