{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block nav %}{% endblock %}

{% block container %}
    <h3>Register</h3>
    <form method="get">
        {% csrf_token %}
        {{ form|crispy }}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="buttons">
            <button type="submit" class="btn btn-success">Save</button>
            <a href="{% url 'Login' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
{% endblock %}