{% extends "base.html" %}

{% load static %}

{% block title %} Budgets {% endblock %}

{% block links %}
    <style type="text/css">
        .itens {
            display: grid;
            grid-template-columns: repeat(4, 300px);
        }
        
        @media (max-width: 700px) {
            .itens {
                grid-template-columns: repeat(2, 1fr); /* Usar 1fr para flexibilidade */
                column-gap: 10px;
            }
        }
        
        @media (min-width: 4000px) {
            .itens {
                grid-template-columns: repeat(4, 300px); /* Mantém o mesmo comportamento */
            }
        }        
    </style>
{% endblock %}

{% block container %}
    <h2>Budgets</h2>
    <h5>"A well-planned budget is the first step in turning dreams into reality."</h5>
    <form method="post" action="{% url 'budget-create'%}">
        <h3>New Budget <button type="submit" class="btn btn-primary">Create</button></h3>
        {% csrf_token %}
    </form>

    {% if budgets %}
        <h3>Choose a Budget</h3>
        <form method="get" action="{% url 'budget-list' %}">
            {% csrf_token %}
            <label for="budget">Select Budget:</label>
            <select name="budget" id="budget">
                <option value>--Select a Budget--</option>
                {% for budget in budgets %}
                    <option value="{{ budget.id }}">
                        {{ budget.budget }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">View Budget</button>
        </form>
    {% else %}
        <p>No budget data available.</p>
    {% endif %}
    {% if selected_budget %}
        <h3>Selected Budget Details</h3>
        <div class="budget">
            <div class="itens">
                <p><strong>Budget:</strong> {{ selected_budget.budget }}</p>
                <p><strong>Total Budget:</strong> {{selected_budget.total_amount }}</p>
                <p><strong>Remaining Budget:</strong> {{selected_budget.remaining_amount }}</p>
                <p><strong>Notes:</strong> {{ selected_budget.notes }}</p>
                <p><strong>Created at:</strong> {{ selected_budget.created_at }}</p>
                <p><strong>Last update:</strong> {{ selected_budget.updated_at }}</p>
                <p><strong>Validity:</strong> {{ selected_budget.validity }}</p>
                <p><strong>Status:</strong> {{ selected_budget.status }}</p>
            </div>
            <div class="buttons">
                <form method="get" action="{% url 'transaction-list' %}">
                    {% csrf_token %}
                    <input type="hidden" name="budget" id="budget" value="{{ selected_budget.id }}">
                    <button type="submit" class="btn btn-secondary">View Transactions</button>
                </form>
                
                <form method=get action="{% url 'budget-update' selected_budget.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Update Budget</button>
                </form>

                <form method=get
                    action="{% url 'budget-delete' selected_budget.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="budget" id="budget" value="{{ selected_budget.id }}">
                    <button type="submit" class="btn btn-danger">Delete Budget</button>
                </form>
            </div>
        </div>
    {% elif budgets %}
        <h5>Select a budget to view details.</h5>
    {% endif %}
    
{% endblock %}