{% extends "base.html" %}

{% block title %}Delete "{{ selected_budget.budget }}"{% endblock %}
{% block nav %}
    <a class="navbar-brand disabled" aria-disabled="true">Financial Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link disabled" aria-disabled="true">Dashboard</a>
            <a class="nav-link disabled" aria-disabled="true">Goals</a>
            <a class="nav-link disabled" aria-disabled="true">Budgets</a>
            <a class="nav-link disabled" aria-disabled="true">Categories</a>
            <a class="nav-link disabled" aria-disabled="true">Transactions</a>
            <a class="nav-link disabled" aria-disabled="true">About us</a>
            <a class="nav-link disabled" aria-disabled="true">Reports</a>
        </div>
    </div>
{% endblock %}

{% block container %}
    <h1>Delete Confirm</h1>
    {%if selected_goal %}
        <h5>Are you sure you want to delete "{{ selected_goal.title }}"?</h5>
    {% endif %}
    <form method=post>
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'goal-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}    