{% extends "base.html" %}

{% load static %}

{% block title %} Goals {% endblock %}

{% block links %}
    <style type="text/css"> 
        @media (max-width: 700px) {
            .itens {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 10px;
            }
            .amounts {
                flex-direction: column;

                #amount {
                    min-width: 100%
                }
            }
        }
    </style>
{% endblock %}

{% block container %}
    <h2>Goals</h2>
    <h5>"Setting clear goals is the key to turning your aspirations into achievements."</h5>
    <form method="post" action="{% url 'goal-create'%}">
        <h3>New Goal <button type="submit" class="btn btn-primary">Create</button></h3>
        {% csrf_token %}
    </form>

    {% if goals %}
        <h3>Choose a goal</h3>
        <form method="get" action="{% url 'goal-list' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="goal">Select goal:</label>
                </div>
                <select class="custom-select" name="goal" id="goal">
                    <option selected>--Select a goal--</option>
                    {% for goal in goals %}
                        <option value="{{ goal.id }}">{{ goal.title }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">View goal</button>
            </div>
        </form>
    {% else %}
        <h5>No goals data available.</h5>
    {% endif %}
    {% if selected_goal %}
        <h3>Selected goal Details</h3>
        <table class="container table">
            <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Total amount</th>
                    <th>Peding amount</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ selected_goal.title|capfirst }}</td>
                    <td>{{ selected_goal.total_amount }}</td>
                    <td>{{ selected_goal.pending_amount }}</td>
                    <td>{{ selected_goal.notes }}</td>
                </tr>
            </tbody>
            <thead class="thead-dark">
                <tr>
                    <th>Created at</th>
                    <th>Last update</th>
                    <th>Due date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ selected_goal.created_at|date:"d/m/Y" }}</td>
                    <td>{{ selected_goal.updated_at|date:"d/m/Y" }}</td>
                    <td>{{ selected_goal.due_date|date:"d/m/Y" }}</td>
                    <td>{{ selected_goal.status }}</td>
                </tr>
            </tbody>
        </table>
        
        <div class="goal">
            <div class="buttons">
                <form method=get action="{% url 'goal-update' selected_goal.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary">Update goal</button>
                </form>
                {% if selected_goal.status != "Completed" and "Not Completed" %}
                    <form method="get"
                        action="{% url 'goal-add' selected_goal.id %}" align=center>
                        {% csrf_token %}
                        <div class="input-group input-group-sm mb-3 amounts">
                            <div class="input-group-prepend">
                              <label class="input-group-text" id="inputGroup-sizing-sm" for="amount">Amount to add</label>
                            </div>
                            <input class="form-control" type="number" min=1 max=100000 name="amount" id="amount">
                            <button type="submit" class="btn btn-danger">Add amount</button>
                        </div>
                        <input type="hidden" name="goal" id="goal" value="{{ selected_goal.id }}">
                    </form>
                {% endif %}
                <form method=get
                    action="{% url 'goal-delete' selected_goal.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="goal" id="goal" value="{{ selected_goal.id }}">
                    <button type="submit" class="btn btn-danger">Delete goal</button>
                </form>
            </div>
        </div>
    {% elif goals %}
        <h5>Select a goal to view details.</h5>
    {% endif %}
{% endblock %}