{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}New Transaction{% endblock %}

{% block container %}
    <h3>Create Transaction</h3>
    <form method="post">
        {% csrf_token %}
        {% if budget %}
            <p>
                <strong>Selected Budget:</strong> {{budget.budget}}
                <strong>Remaining:</strong> {{budget.remaining_amount}}
            </p>
            <input type="hidden" id="id_budget_id" name="budget_id"
                value="{{ budget.id }}">
        {% endif %}
        {{ form|crispy }}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="buttons">
            <button type="submit" class="btn btn-success">Save</button>
            <a href="{% url 'transaction-list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
{% endblock%}
