{% extends "base.html" %}

{% load static %}

{% block title %}
    {% if selected_budget %}{{ selected_budget.budget }}{% endif %} Transactions
{% endblock %}

{% block links %}
    <link rel="stylesheet" href={% static 'personalbudgets/css/lista.css' %}>
{% endblock %}

{% block container %}
    <h2>Transactions</h2>
    <h5>"Every transaction is an opportunity for learning and financial growth."</h5>
    {%if selected_budget.status != "Expired" and categories %}
        <form method="get" action="{% url 'transaction-create' %}">
            {% csrf_token %}
            <input type="hidden" name="budget" id="budget" value="{{ selected_budget.id }}">
            <h3>New transaction <button type="submit" class="btn btn-primary">Create</button></h3>
        </form>
    {% else %}
        <p>Can't create new transactions. Expired budget or not categories.</p>
    {% endif %}

    {% if selected_budget %}
        <h3>Selected Budget Details</h3>
        <div class="itens">
            <p><strong>Budget:</strong> {{ selected_budget.budget }}</p>
            <p><strong>Total Budget:</strong> {{ selected_budget.total_amount }}</p>
            <p><strong>Remaining Budget:</strong> {{ selected_budget.remaining_amount }}</p>
            <p><strong>Status:</strong> {{ selected_budget.status }}</p>
        </div>
    {% elif selected_category %}
        <h3>Selected Category Details</h3>
        <div class="category">
            <div class="itens">
                <p></p>
                <p><strong>Category:</strong> {{ selected_category.category }}</p>
                <p><strong>Notes:</strong> {{ selected_category.notes }}</p>
            </div>
        </div>
    {% endif %}

    <h3>Transactions Details</h3>
    {% if transactions %}
        <div class="budget">
            {% for transaction in transactions %}
                <div class="itens">
                    <p><strong>Category:</strong> {{ transaction.category.category }}</p>
                    <p><strong>Item:</strong> {{ transaction.item }}</p>
                    <p><strong>Price:</strong> {{ transaction.price }}</p>
                    <p><strong>Notes:</strong> {{ transaction.notes }}</p>
                    <p><strong>Created at:</strong> {{ transaction.created_at }}</p>
                    <p><strong>Last update:</strong> {{ transaction.updated_at }}</p>
                    <p><strong>Status:</strong> {{ transaction.status }}</p>
                    <p><strong>Validity:</strong> {{ transaction.validity }}</p>
                    <p><strong>Remaining Installment:</strong> {{ transaction.remaining_installment }}</p>
                </div>
                <div class="buttons">
                    <form method="get"
                        action="{% url 'transaction-update' transaction.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary">Update transaction</button>
                    </form>

                    {% if transaction.remaining_installment > 0 and transaction.status != "Paid" %}
                        <form method="get"
                            action="{% url 'transaction-paid' transaction.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="item" id="item" value="{{ transaction.id }}">
                            <button type="submit" class="btn btn-danger">Paid transaction?</button>
                        </form>
                    {% endif %}

                    <form method="get"
                        action="{% url 'transaction-delete' transaction.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete transaction</button>
                    </form>
                </div>
                <br>
            {% endfor %}
        </div>
    {% else %}
        <h5>No budget or category itens data available.</h5>
    {% endif %}
{% endblock %}
